section,
ul {
  background-color: green;
  color: white;
}
section,
ol {
  background-color: orange;
  color: green;
}

section.already-learned code {
  background-color: orange;
}

section.to-be-learned code {
  background-color: green;
}

code,
id.special1 {
  border: 2px solid blue;
}
[id='special2'] {
  font-size: 24px;
}
